{% extends "base.html" %}
{% block content %}
<a href="/account/admin/sitename/1" class="btn btn-primary" role=btn>網站名稱</a>
<a href="/account/admin/siteimage" class="btn btn-primary" role=btn>首頁圖片</a>
<a href="/account/userlist" class="btn btn-primary" role=btn>帳號</a>
<a href="/account/admin/domain" class="btn btn-primary" role=btn>學習領域</a>
<a href="/account/admin/level" class="btn btn-primary" role=btn>年級</a>
<a href="/account/event/admin" class="btn btn-primary" role=btn>系統事件</a>
<a href="/account/visitor" class="btn btn-primary">訪客</a>
<a href="/account/teacher" class="btn btn-primary">教師公告</a>
<a href="/account/import/upload" class="btn btn-primary">匯入帳號</a>
{% endblock %}