{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% load tag %}
{% block content %}
<table class="table">
        <tr>
            <td>班級</td>					
					  <td>姓名</td>
            <td>時間</td>
            <td>來源</td>
        </tr>
        {% for log in visitorlogs %}
            <tr>
							  <td>{{log.user_id|classroom}}</td>
							  {% if request.user.id == 1 %}
                <td nowrap><a href="/account/profile/{{log.user_id}}">{{log.user_id|realname}}</a></td>
							  {% else %}
							  <td nowrap>{{log.user_id|realname}}</td>
							  {% endif %}
				<td nowrap>{{log.time}}</td>
              <td nowrap>{{log.IP}}</td>
            </tr>
        {% endfor %}
        </table>
        {% load pagination %}
        {% get_pagination %}
        
        <BR>  
{% endblock %}