{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
    <form action="."  method="get">
 <label class="inline">搜尋課程或教師：<input type="text" name = "classroom"><input type="submit" value="送出"/></label>    
    </form>
<table class="table">
<tr>
    <td>班級</td>
    <td>教師</td>
    <td>狀況</td>
</tr>
        {% for classroom, teacher_name, enroll in classroom_teachers %}
            <tr>
                <td>{{classroom.name}}</td>
                <td>{{teacher_name}}</td>
                <td>
                {% if enroll == 1 %}
                已加入
                {% else %}
                <a href="../enroll/{{classroom.id}}">加入此班級</a><br/>
                {% endif %}
                </td>
            </Tr>
        {% endfor %}
</table>
{% endblock %}