{% extends "base.html" %} {% load tag %} 
{% block header %}
<style>
	#assistant {
		display:none;
	}
  #student {
		display:none;
	}
</style>
{% endblock %}
{% block content %}
<div class="row">
<a href="/student/classroom/add" class="btn btn-warning" role="btn"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 加入班級</a>
	{% if request.user.id|teacher or request.user.id|assistant %}
<a href="/student/classroom/1" class="btn btn-{% if role == '1' %}info{% else %}default{% endif %}" role="btn"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 教師班級</a>
<a href="/student/classroom/2" class="btn btn-{% if role == '2' %}info{% else %}default{% endif %}" role="btn"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 助教班級</a>
<a href="/student/classroom/0" class="btn btn-{% if role == '0' %}info{% else %}default{% endif %}" role="btn"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 學生班級</a>
{% endif %}
	{% for enroll, teacher_id in enrolls %}
		<div class="panel panel-default">
			<div class="panel-heading">{{enroll.classroom}}--{{teacher_id|realname}}老師</div>
			<div class="panel-body">
				<a href="/student/classroom/seat/{{enroll.id}}/{{enroll.classroom_id}}" class="btn btn-default" role="btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 座號</a>
				<a href="/student/classmate/{{enroll.classroom_id}}" class="btn btn-default" role="btn"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 同學</a>
				<a href="/account/line/class/{{enroll.classroom_id}}" class="btn btn-default" role="btn"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 私訊</a>
				<a href="/student/group/{{enroll.classroom_id}}" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 分組</a>
				<a href="/student/announce/{{enroll.classroom_id}}" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 公告</a>				
				<a href="/student/course/{{enroll.classroom_id}}" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> 課程區</a>
				<a href="/student/forum/{{enroll.classroom_id}}/0" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> 討論區</a>
				<a href="/student/speculation/{{enroll.classroom_id}}/0" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> 註記區</a>
				<a href="/student/team/{{enroll.classroom_id}}/{{group}}" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> 合作區</a>				
				<a href="/student/exam/{{enroll.classroom_id}}/" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> 測驗區</a>					</div>
		</div>
		{% endfor %}
	</div>
					</div>
		{% load pagination %}
    {% get_pagination %}

	{% endblock %}		
	