{% extends "base.html" %}
{% load tag %}
{% block content %}
	        <a href="" class="btn btn-success" role="btn">{{classroom.name}}</a>
<BR>
			{% for course, courseclass in courses %}
<h2 id="{{course.id}}"></h2>
<div class="panel panel-default">
<div class="panel-heading">{{course.title}}-- {{courseclass.publication_date}} {{course.teacher_id|realname}}老師 -- 期限:{% if not courseclass.deadline %}無{% else %}{{courseclass.deadline_date}}{% endif %}</div>
  <div class="panel-body">    
            <a href="/student/course/content/{{classroom.id}}/{{course.id}}" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> 素材</a>  						
	</div>
</div>
        {% endfor %}
	{% endblock %}
	
	{% block domready %}
	    $('body').css('background-image','url(/static/images/back1.gif)');
	{% endblock %}
	
