{% extends "base.html" %}
{% load tag %}

{% block header %}
<link rel="stylesheet" href="/static/js/annotator/annotator.min.css" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/annotator/annotator-full.min.js"></script>
<link rel="stylesheet" href="/static/js/annotator/annotator.touch.css" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/annotator/annotator.touch.min.js"></script>
<script type="text/javascript" src="/static/js/annotator/annotator.message.js"></script>
<script type="text/javascript" src="/static/js/annotator/annotator.image.js"></script>
<style type="text/css">{% for type in types %}
  .annotator-hl.atype-{{type.id}} {background-color: {{type.color}}}{% endfor %}
</style>
{% endblock %}

{% block content %}
<button class="btn btn-success">{{swork.title}}</button> <button class="btn btn-success">{{classroom_id|classname}}</button><BR>
{% for enroll, publish in queryset %}
{% if publish %}
<a href="/student/speculation/annotate/{{classroom_id}}/{{swork.id}}/{{enroll.student_id}}" class="btn {% if student_id == enroll.student_id %}btn-primary{% else %}btn-warning{% endif %}">{{enroll.seat}}){{enroll.student_id|realname}}</a>
{% else %}
<button class="btn btn-default">
{{enroll.seat}}){{enroll.student_id|realname}}
</button>
{% endif %}
{% endfor %}
{% if works.0.publish %}
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">
      <h4 class="list-group-item-heading">心得  {{works.0.publication_date}}</h4>
      <div class="list-group-item-text">
        <div class="memo-text">
          {{works.0.memo|safe}}
        </div>
        {% include "student/module_memo_attachments.html" %}
      </div>
    </li>
    {% for work in contents %}
      {% include "student/module_speculation_material.html" %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

{% block domready %}
  // Annotation //
  annotation_type = [];
  {% for type in types %}
    annotation_type['t{{ type.id }}'] = {'kind': '{{ type.kind }}', 'color': '{{ type.color }}'};
  {% endfor %}

  $('.memo-content').each(function(index, element) {
    var userid = {{ student_id }};
    var mid = $(element).parent().parent().attr('id').slice(2);
    $(element).annotator({readOnly: true})
    .annotator('addPlugin', 'Store', {
      prefix: '/annotate', 
      loadFromSearch: {
        'ftype': 1,
        'findex': {{index}}, 
        'mid': mid,
        'stuid': userid,
      }
    })
    .annotator('addPlugin', 'Touch')
    .annotator('addPlugin', 'Image', annotation_type)
    .annotator('addPlugin', 'Message', annotation_type);
  });
  // $('html, body').animate({scrollTop: $(''+$(location).attr('hash')).offset().top -100 }, 'slow');
{% endblock %}
