{% extends "base.html" %}
{% load tag %}
{% block title %} Teachers {% endblock %}
{% block content %}
        <a href="/teacher/exam/question/add/{{exam_id}}" class="btn btn-warning" role="btn"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 新增題目</a>
<button type="button" class="btn btn-success">{{exam.title}}</button>

        {% for question in questions %}
 <div class="panel panel-default"> 
              {% if question.types == 1 %}
   <div class="panel-heading"><button type="button" class="btn btn-default">{{forloop.revcounter}}</button> 是非題 
    <A href="/teacher/exam/question/delete/{{exam_id}}/{{question.id}}" onclick="return confirm('確定要刪除嗎?')"><img src="/static/images/delete.gif"> 刪除</a>
    <a href="/teacher/exam/question/edit/{{exam_id}}/{{question.id}}"><img src="/static/images/edit.gif"> 編輯</a>
  </div>
  <div class="panel-body">
    {{question.answer}}
  </div>
            
              {% elif work.types == 2 %}
  <div class="panel-heading"><button type="button" class="btn btn-default">{{forloop.revcounter}}</button> 選擇題
    <A href="/teacher/forum/content/delete/{{forum_id}}/{{work.id}}" onclick="return confirm('確定要刪除嗎?')"><img src="/static/images/delete.gif"> 刪除</a>
    <a href="/teacher/forum/content/edit/{{forum_id}}/{{work.id}}"><img src="/static/images/edit.gif"> 編輯</a>
</div>
  <div class="panel-body">
    <div class="embed-responsive embed-responsive-16by9">
{{question.answer}} 
    </div>
</div>          
           
{% endif %}
        {% endfor %}
  
    
{% endblock %}

	{% block domready %}
	    $('body').css('background-image','url(/static/images/back1.gif)');
	{% endblock %}