{% extends "base.html" %}
{% load tag %}
{% block title %} Teachers {% endblock %}
{% block content %}
		{% if exam.user_id == request.user.id %}
        <a href="/teacher/exam/question/add/{{exam_id}}" class="btn btn-warning" role="btn"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 新增題目</a>
{% endif %}
<button type="button" class="btn btn-success">{{exam.title}}</button>
<div class="panel panel-{% if score < 60 %}danger{% else %}success{% endif %}">
  <div class="panel-heading">總分:{{score_total}}</div>
</div>
        {% for question in questions %}
 <div class="panel panel-default"> 
              {% if question.types == 1 %}
   <div class="panel-heading"><button type="button" class="btn btn-default">{{forloop.revcounter}}</button> 是非題 
    <A href="/teacher/exam/question/delete/{{exam_id}}/{{question.id}}" onclick="return confirm('確定要刪除嗎?')"><img src="/static/images/delete.gif"> 刪除</a>
    <a href="/teacher/exam/question/edit/{{exam_id}}/{{question.id}}"><img src="/static/images/edit.gif"> 編輯</a>
  </div>
  <div class="panel-body">
    {{question.answer}}
  </div>
            
              {% elif question.types == 2 %}
	 <a name="{{question.id}}"></a>
  <div class="panel-heading"><button type="button" class="btn btn-primary">{{forloop.revcounter}}</button> ({{question.score}}分) 選擇題
		{% if exam.user_id == request.user.id %}
    <A href="/teacher/exam/question/delete/{{exam_id}}/{{question.id}}" onclick="return confirm('確定要刪除嗎?')"><img src="/static/images/delete.gif"> 刪除</a>
    <a href="/teacher/exam/question/edit/{{exam_id}}/{{question.id}}"><img src="/static/images/edit.gif"> 編輯</a>
		{% endif %}
</div>
  <div class="panel-body">
<div class="panel panel-default">
  <div class="panel-body" style="font-size:16px">{{question.title|linebreaksbr}}({{question.score}}分)</div>
</div>
<button class="btn btn-{% if question.answer == 1 %}info{% else %}default{% endif %}">{{question.option1}}</button>
<button class="btn btn-{% if question.answer == 2 %}info{% else %}default{% endif %}">{{question.option2}}</button>	
<button class="btn btn-{% if question.answer == 3 %}info{% else %}default{% endif %}">{{question.option3}}</button>
<button class="btn btn-{% if question.answer == 4 %}info{% else %}default{% endif %}">{{question.option4}}</button>
</div>          
           
{% endif %}
	 </div>
        {% endfor %}
  
    
{% endblock %}

	{% block domready %}
	    $('body').css('background-image','url(/static/images/back1.gif)');
	{% endblock %}