{% extends "base.html" %}

{% block content %}
{{teacher_list}}
         <form action="" enctype="multipart/form-data"  method="post">
            <table class="table">
<tr><TD colspan=2>
<div class="checkbox">
              {% for classroom in classrooms %}
<label class="checkbox-inline"><input type="checkbox" value="{{classroom.id}}" name="classrooms" {% if classroom.id == classroom_id %}checked{% endif %}>{{classroom.name}}</label>

              {% endfor %}
</div>
  </TD></tr>
                {{ form.as_table }}              
  </table>
           
            {% csrf_token %}
            <input type="submit" value="送出">
        </form>
{% endblock %}