{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
        <a href="/teacher/forum/add/{{classroom.id}}" class="btn btn-warning" role="btn">新增討論</a>
        <table class="table">
            <tr>
                <td>{{classroom.name}}</td>
                <td>時間</td>				
                <td colspan=3>功能</td>
        {% for work in works %}
            <tr>
            <td>{{work.title}}</td>
			<td>{{work.time}}</td>
							<td>
						<a href="" class="btn btn-default" role="btn">班級</a>
            <a href="/teacher/forum/content/{{work.id}}" class="btn btn-primary" role="btn">素材</a>
            <a href="/teacher/forum/class/{{classroom_id}}/{{work.id}}" class="btn" role="btn">評分</a>
            <a href="/student/forum/memo/{{classroom_id}}/{{work.id}}" class="btn" role="btn">心得</a>			
						</td>
					</tr>
        {% endfor %}
        </table>
{% endblock %}