{% extends "base.html" %}
{% load tag %}
{% block content %}
         <form action="" enctype="multipart/form-data"  method="post">
            <table class="table">
           <tr><th>年級</td>
                <td>
              {% for level in levels %}
              <label class="checkbox-inline"><input type="checkbox" {% if level.id|int_to_str in classroom.levels %}checked{% endif %} value="{{level.id}}" name="levels" >{{level.title}}</label>   
              {% endfor %}
              </td>             
              <tr><th>學習領域</td>
                <td>
              {% for domain in domains %}
              <label class="checkbox-inline"><input type="checkbox" {% if domain.id|int_to_str in classroom.domains %}checked{% endif %} value="{{domain.id}}" name="domains" >{{domain.title}}</label>   
              {% endfor %}
              </td>
              </tr>
              
<tr><th>班級</th><Td>
<div class="checkbox">
              {% for classroom in classrooms %}
<label class="checkbox-inline"><input type="checkbox" value="{{classroom.id}}" name="classrooms" {% if classroom.id == classroom_id %}checked{% endif %}>{{classroom.name}}</label>

              {% endfor %}
</div>
  </TD></tr>
                {{ form.as_table }}              
  </table>
           
            {% csrf_token %}
            <input type="submit" value="送出">
        </form>
{% endblock %}