{% extends "base.html" %}
{% load tz %}
{% load tag %}

{% block header %}
<link rel="stylesheet" href="/static/js/annotator/annotator.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/static/js/annotator/annotator-full.min.js"></script>
{% if is_teacher %}
<link rel="stylesheet" href="/static/js/annotator/annotator.touch.css" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/annotator/annotator.touch.min.js"></script>
{% endif %}
<style>
.checked {
    color: orange;
}
.rating{
	float:right;
}
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}	
</style>

{% endblock %}

{% block content %}
    {% for work in contents %}
    <li class="list-group-item material" id="m_{{ work.id }}">
      <div class="panel panel-default">      
 
        {% if work.types == 1 %}
 <div class="panel-heading"><button type="button" class="btn btn-default">{{forloop.counter}}</button> 外部網址 
 </div>
  <div class="panel-body">
    <a href="{{work.link}}" target="_blank">{% if work.title %}{{work.title}}{% else %}開啟連結{% endif %}</a>
  </div>
        {% elif work.types == 2 %}
<div class="panel-heading"><button type="button" class="btn btn-default">{{forloop.counter}}</button> Youtube影片 
	<a href="/teacher/event/video/{{classroom_id}}/{{forum.id}}/{{work.id}}/">記錄</a>
</div>
  <div class="panel-body">
    <div class="embed-responsive embed-responsive-16by9">
    <div id="player{{work.id}}"></div>
		</div>
</div>          
        {% elif work.types == 3 %}
  <div class="panel-heading"><button type="button" class="btn btn-default">{{forloop.counter}}</button> 下載檔案
</div>
  <div class="panel-body"> <a href="/teacher/forum/download/{{work.id}}" target="_blank">{{work.title}}</a> </div>       
        {% elif work.types == 4 %}
  <div class="panel-heading"><button type="button" class="btn btn-default">{{forloop.counter}}</button> 自訂文字
</div>
        {% endif %} 
        </li>
  {% endfor %}
  </ul>
      </div>

	
{% endblock %}

{% block footer_script %}
<script>
var vidMap = {
  {% for work in contents %}
{% if work.types == 2 %}
  'm_{{ work.id }}': '{{ work.youtube|number }}',
{% endif %}
{% endfor %}  
};
var vidPlayer = null;
function onPlayerReady(event) {
  activePlayer = event.target;
	alert(activePlayer.content_id + ":" + activePlayer.getDuration())
  $.post('/teacher/event/video/length/',
        {'content_id': activePlayer.content_id,
				 'length': activePlayer.getDuration(),
				},
        function(data){}
   );
}
 
function timeToSec(timestr) {
  var hh = parseInt(timestr.substr(0, 2)), 
      mm = parseInt(timestr.substr(3, 2)), 
      ss = parseInt(timestr.substr(6, 2));
    return (hh*3600)+(mm*60)+ss;
}
function onYouTubeIframeAPIReady() {
	 {% for work in contents %}
  {% if work.types == 2 %}	
var player{{work.id}};

	        player{{work.id}} = new YT.Player('player{{work.id}}', {
          height: '390',
          width: '640',
          videoId: '{{work.youtube|number}}',
          events: {
         
           'onReady': onPlayerReady,
          }
			    });
	        player{{work.id}}.content_id = {{work.id}}

 	{% endif %}
  {% endfor %}
}
$(window).on('beforeunload', function(){
	        if (activePlayer) {
            if (activePlayer.getPlayerState()==1) {
            var currTime = secToTime(activePlayer.getCurrentTime().toFixed());
            video_log(activePlayer.content_id,"PAUSE["+currTime+"]");
            }
        }
});

$('#vidModal').on('hidden.bs.modal', function (e) {
  vidPlayer.stopVideo();
});

$(document).ready(function () {
  //------------------------------------------------------------------------
  // Load YouTube API library
  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);  
			
});
</script>
{% endblock %}