{% extends "base.html" %}
{% block title %} Welcome ! {% endblock %}
{% block content %}
<div class="row">
  <div class="panel panel-default">
  <div class="panel-heading">高慧君</div>
  <div class="panel-body">
  <h1>學歷</h1>
  <Table class="table">
    <Tr><td>國立臺灣師範大學資訊教育學系學士</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士</td></Tr>    	
  </Table> 
  </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">魏仲良</div>
  <div class="panel-body">
  <h1>學歷</h1>
  <Table class="table">
    <Tr><td>國立臺灣師範大學資訊教育學系學士</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士</td></Tr>    	
  </Table> 
  </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading">賴錦緣</div>
  <div class="panel-body">
  <h1>學歷</h1>
  <Table class="table">
    <Tr><td>國立臺灣師範大學資訊教育學系學士</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士</td></Tr>
    <Tr><td>國立臺灣師範大學資訊教育研究所博士</td></Tr>     
  </Table> 
  </div>
<div>

{% endblock %}