{% extends "base.html" %}
{% block title %} Welcome ! {% endblock %}
{% block content %}
<H1>網站開發人員
</H1>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h1><span class="glyphicon glyphicon-grain" aria-hidden="true">高慧君</span></h1></div>
  <div class="panel-body">
  <h1>學歷</h1>
  <Table class="table">
    <Tr><td>國立臺灣師範大學資訊教育學系學士</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士</td></Tr>    	
  </Table> 
  </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h1><span class="glyphicon glyphicon-grain" aria-hidden="true">魏仲良</span></h1></div>
  <div class="panel-body">
  <h1>學歷</h1>
  <Table class="table">
    <Tr><td>國立臺灣師範大學資訊教育學系學士</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士</td></Tr>    	
  </Table> 
  </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h1><span class="glyphicon glyphicon-grain" aria-hidden="true">賴錦緣</span></h1></div>
  <div class="panel-body">
  <h1>學歷</h1>
  <Table class="table">
    <Tr><td>國立臺灣師範大學資訊教育學系學士</td></Tr>    
    <Tr><td>國立臺灣師範大學資訊教育研究所碩士</td></Tr>
    <Tr><td>國立臺灣師範大學資訊教育研究所博士</td></Tr>     
  </Table> 
  </div>
<div>

{% endblock %}